<!--
  Student Name: Sones
  File Name: .html
  Date:9/7/2023
--> 
{% load static %}
<link rel="stylesheet" type="css" href="{% static 'css/stylin.css' %}" />
<!DOCTYPE html>

<html lang="en"> 
 
<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block title %}<title>Basic</title> {%endblock%}
</head>

<body>


<!-- Use the main area to add the main content to the webpage -->
  <main>

  </main>

  <footer>
    <p>&copy; Copyright 2023. All Rights Reserved.</p>
    <p>"Mail us: "</p>
<a href = "mailto: hippie@humankind.org">starshop@cosmos.dev</a>
  </footer>

</body>

</html>